<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsersService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62136/UsersService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUsersService" contract="IUsersService"
                name="BasicHttpBinding_IUsersService" />
        </client>
    </system.serviceModel>
</configuration>